.screen {
  background-color: #ecfaf0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen .overlap-group-wrapper {
  background-color: #ecfaf0;
}

.screen .overlap-group {

}

.screen .vector {
  position: absolute;
  width: 410px;
  height: 322px;
  top: 578px;
  left: 1030px;
}

.screen .img {
  position: absolute;
  width: 472px;
  height: 272px;
  top: 628px;
  left: 968px;
}

.screen .vector-2 {
  position: absolute;
  width: 430px;
  height: 627px;
  top: 228px;
  left: 0;
}

.screen .vector-3 {
  position: absolute;
  width: 469px;
  height: 506px;
  top: 243px;
  left: 0;
}

.screen .frame {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
}

.screen .div {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  z-index: 1;
  background-color: #EDFAF0;
}

.screen .global-header-front {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  z-index: 1;
  background-color: var(--conditional-header-background);
  box-shadow: 0px 2px 8px #f0f1f2;
}

.screen .frame-2 {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.screen .image {
  position: relative;
  width: 32px;
  height: 32px;
}

.screen .text {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.screen .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--heading-4-font-family);
  font-weight: var(--heading-4-font-weight);
  color: #1b963a;
  font-size: var(--heading-4-font-size);
  letter-spacing: var(--heading-4-letter-spacing);
  line-height: var(--heading-4-line-height);
  white-space: nowrap;
  font-style: var(--heading-4-font-style);
}

.screen .buttons {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.screen .title {
  font-weight: var(--h5-medium-font-weight);
  color: #000000d9;
  position: relative;
  width: fit-content;
  font-family: var(--h5-medium-font-family);
  font-size: var(--h5-medium-font-size);
  letter-spacing: var(--h5-medium-letter-spacing);
  line-height: var(--h5-medium-line-height);
  white-space: nowrap;
  font-style: var(--h5-medium-font-style);
}

.screen .button {
  display: inline-flex;
  gap: 10px;
  padding: 5px;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: var(--collection-1-radius4);
  border-color: var(--neutral-4);
  box-shadow: var(--drop-shadow-button-secondary);
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid;
}

.screen .icon-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.screen .img-2 {
  position: relative;
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.screen .frame-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 96px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  z-index: 0;
}

.screen .steps {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding: 12px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--conditionaldivider);
}

.screen .item {
  display: flex;
  flex: 1;
  flex-grow: 1;
  height: 32px;
  align-items: center;
  gap: 8px;
  position: relative;
}

.screen .steps-item-icon {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: #edfbf0;
  border-radius: 32px;
}

.screen .check {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 8px;
  left: 8px;
}

.screen .title-2 {
  font-weight: 400;
  color: #000000d9;
  position: relative;
  width: fit-content;
  font-family: "Roboto", Helvetica;
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.screen .tail {
  position: relative;
  flex: 1;
  flex-grow: 1;
  object-fit: cover;
}

.screen .components-steps {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: #1b963a;
  border-radius: 32px;
}

.screen .number {
  color: #ffffff;
  position: absolute;
  width: 24px;
  top: 3px;
  left: 4px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.screen .tail-2 {
  height: 1px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  object-fit: cover;
}

.screen .item-2 {
  display: flex;
  min-width: 204px;
  flex: 1;
  flex-grow: 1;
  height: 32px;
  align-items: center;
  gap: 8px;
  position: relative;
}

.screen .number-wrapper {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: #0000000f;
  border-radius: 32px;
}

.screen .number-2 {
  color: #00000040;
  position: absolute;
  width: 24px;
  top: 3px;
  left: 4px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.screen .title-3 {
  font-weight: 400;
  color: var(--charactersecondary-45);
  position: relative;
  width: fit-content;
  font-family: "Roboto", Helvetica;
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.screen .item-3 {
  display: inline-flex;
  flex: 0 0 auto;
  height: 32px;
  align-items: center;
  gap: 8px;
  position: relative;
}

.screen .frame-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  padding: 36px 64px 64px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  background-color: #ffffff;
}

.screen .frame-5 {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.screen .main-headline {
  position: relative;
  align-self: stretch;
  width: 968px;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  color: var(--coolgray-90);
  font-size: 3.2rem;
  letter-spacing: 0;
  line-height: 35.2px;
}

.screen .frame-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.screen .div-2 {
  width: 100%;
  font-size: 1.6rem;
}

.screen .vertical-form-item {
  padding: 0px 0px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.screen .label {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0px 0px 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.screen .title-4 {
  margin-top: -1px;
  font-weight: 400;
  color: #000000d9;
  position: relative;
  width: fit-content;
  font-family: "Roboto", Helvetica;
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.screen .radio-group {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  padding: 5px 0px;
  position: relative;
  flex: 0 0 auto;
}

.screen .element {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--hitbox);
}

.screen .radio {
  position: relative;
  width: 16px;
  height: 16px;
  background-color: var(--neutral-1);
  border-radius: 100px;
  border: 1px solid;
  border-color: var(--neutral-5);
}

.screen .text-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: var(--coolgray-90);
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.screen .title-5 {
  margin-top: -1px;
  font-weight: 400;
  color: var(--charactertitle-85);
  position: relative;
  width: fit-content;
  font-family: "Roboto", Helvetica;
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.screen .select {
  display: flex;
  align-items: flex-start;
  padding: 8px 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--neutral-1);
  border-radius: var(--collection-1-radius8);
  border: 1px solid;
  border-color: var(--neutral-5);
}

.screen .selection-item {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.screen .title-6 {
  margin-top: -1px;
  font-weight: var(--h5-regular-font-weight);
  color: var(--characterdisabled-placeholder-25);
  position: relative;
  width: fit-content;
  font-family: var(--h5-regular-font-family);
  font-size: var(--h5-regular-font-size);
  letter-spacing: var(--h5-regular-letter-spacing);
  line-height: var(--h5-regular-line-height);
  white-space: nowrap;
  font-style: var(--h5-regular-font-style);
}

.screen .icon {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 0px 0px 6px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.screen .icon-2 {
  position: relative;
  width: 10.18px;
  height: 6.86px;
}

.screen .message {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 1px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.screen .message-2 {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: var(--charactersecondary-45);
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 24px;
}

.screen .button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  cursor: pointer;
}

.screen .div-wrapper {
  all: unset;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 188px;
  height: 56px;
  gap: 8px;
  padding: 8px 16px;
  background-color: #1b963a;
  border-radius: var(--collection-1-radius8);
  overflow: hidden;
  box-shadow: var(--drop-shadow-button-primary);
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid;
}

.screen .text-3 {
  position: relative;
  width: fit-content;
  font-family: var(--h5-medium-font-family);
  font-weight: var(--h5-medium-font-weight);
  color: #ffffff;
  font-size: var(--h5-medium-font-size);
  text-align: center;
  letter-spacing: var(--h5-medium-letter-spacing);
  line-height: var(--h5-medium-line-height);
  white-space: nowrap;
  font-style: var(--h5-medium-font-style);
}

.screen .footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 8px 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  z-index: 0;
  background-color: var(--polar-green-9);
}

.screen .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: transparent;
}

.screen .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: var(--character-primaryinverse);
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.screen .select-2 {
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  padding: 8px 12px;
  position: relative;
  background-color: var(--neutral-1);
  border-radius: var(--collection-1-radius8);
  border: 1px solid;
  border-color: #d9d9d9;
  font-size: 1.6rem;
}

#myplan_table {
  width: 1200px;
}
#myplan_table thead tr {
  background-color: #FAFAFA;
}
#myplan_table tbody tr.odd {
  background-color: #FFFFFF;
}
#myplan_table tbody tr.even {
  background-color: #FFFFFF;
}
a {
  color: #1b963a;
  cursor: pointer;
}
a:hover {
  color: #1b963a;
}
.link {
  color: #000000;
  cursor: pointer;
}
.link:hover {
  color: #000000;
}