:root {
  font-size: 62.5%;
  --charactertitle-85: rgba(0, 0, 0, 0.85);
  --defaultwhite: rgba(255, 255, 255, 1);
  --neutral-1: rgba(255, 255, 255, 1);
  --characterdisabled-placeholder-25: rgba(0, 0, 0, 0.25);
  --charactersecondary-45: rgba(0, 0, 0, 0.45);
  --coolgray-90: rgba(33, 39, 42, 1);
  --characterprimary-85: rgba(0, 0, 0, 0.85);
  --character-primaryinverse: rgba(255, 255, 255, 1);
  --neutral-5: rgba(217, 217, 217, 1);
  --neutral-12: rgba(20, 20, 20, 1);
  --hitbox: rgba(255, 255, 255, 0);
  --neutral-4: rgba(240, 240, 240, 1);
  --neutral-3: rgba(245, 245, 245, 1);
  --polar-green-9: rgba(19, 82, 0, 1);
  --conditionaldivider: rgba(0, 0, 0, 0.03);
  --coolgray-20: rgba(221, 225, 230, 1);
  --coolgray-60: rgba(105, 112, 119, 1);
  --coolgray-10: rgba(242, 244, 248, 1);
  --defaultwhite: rgba(255, 255, 255, 1);
  --conditional-header-background: rgba(255, 255, 255, 1);
  --neutral-6: rgba(191, 191, 191, 1);
  --conditional-item-background-hover: rgba(245, 245, 245, 1);
  --conditional-pop-over: rgba(255, 255, 255, 1);
  --neutral-13: rgba(0, 0, 0, 1);
  --neutral-2: rgba(250, 250, 250, 1);
  --primary-6: rgba(22, 119, 255, 1);
  --primary-1: rgba(230, 244, 255, 1);
  --heading-4-font-family: "Roboto", Helvetica;
  --heading-4-font-weight: 700;
  --heading-4-font-size: 24px;
  --heading-4-letter-spacing: 0px;
  --heading-4-line-height: 110.00000238418579%;
  --heading-4-font-style: normal;
  --h5-medium-font-family: "Roboto", Helvetica;
  --h5-medium-font-weight: 500;
  --h5-medium-font-size: 16px;
  --h5-medium-letter-spacing: 0px;
  --h5-medium-line-height: 24px;
  --h5-medium-font-style: normal;
  --h4-medium-font-family: "Roboto", Helvetica;
  --h4-medium-font-weight: 500;
  --h4-medium-font-size: 20px;
  --h4-medium-letter-spacing: 0px;
  --h4-medium-line-height: 28px;
  --h4-medium-font-style: normal;
  --h5-regular-font-family: "Roboto", Helvetica;
  --h5-regular-font-weight: 400;
  --h5-regular-font-size: 16px;
  --h5-regular-letter-spacing: 0px;
  --h5-regular-line-height: 24px;
  --h5-regular-font-style: normal;
  --h5-bold-font-family: "Roboto", Helvetica;
  --h5-bold-font-weight: 700;
  --h5-bold-font-size: 16px;
  --h5-bold-letter-spacing: 0px;
  --h5-bold-line-height: 24px;
  --h5-bold-font-style: normal;
  --subtle-font-family: "Inter", Helvetica;
  --subtle-font-weight: 400;
  --subtle-font-size: 14px;
  --subtle-letter-spacing: 0px;
  --subtle-line-height: 20px;
  --subtle-font-style: normal;
  --body-regular-font-family: "Roboto", Helvetica;
  --body-regular-font-weight: 400;
  --body-regular-font-size: 14px;
  --body-regular-letter-spacing: 0px;
  --body-regular-line-height: 22px;
  --body-regular-font-style: normal;
  --body-m-font-family: "Roboto", Helvetica;
  --body-m-font-weight: 400;
  --body-m-font-size: 16px;
  --body-m-letter-spacing: 0px;
  --body-m-line-height: 139.9999976158142%;
  --body-m-font-style: normal;
  --drop-shadow-button-primary: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
  --drop-shadow-button-secondary: 0px 2px 0px 0px rgba(0, 0, 0, 0.02);
  --drop-shadow-0-12-0-8-0-5: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 6px 16px 0px rgba(0, 0, 0, 0.08),
    0px 3px 6px -4px rgba(0, 0, 0, 0.12);
  --drop-shadow-active-2px-spread: 0px 0px 0px 2px rgba(27, 150, 58, 0.2);
  --collection-1-radius8: 8px;
  --collection-1-radius4: 4px;
  --collection-1-radius6: 6px;
  --footnote-description-font-family: "Roboto", Helvetica;
  --footnote-description-font-weight: 400;
  --footnote-description-font-size: 12px;
  --footnote-description-letter-spacing: 0px;
  --footnote-description-line-height: 20px;
  --footnote-description-font-style: normal;
}
