.screen {
  background-color: #f0f2f5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen .div {
  background-color: var(--conditional-page-background);
  width: 100%;
}

.screen .frame {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  position: relative;
}

.screen .frame-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  z-index: 1;
}

.screen .global-header-front {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  z-index: 1;
  background-color: var(--conditional-header-background);
  box-shadow: 0px 2px 8px #f0f1f2;
}

.screen .frame-3 {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.screen .components {
  position: relative;
  width: 32px;
  height: 32px;
}

.screen .text {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.screen .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--heading-4-font-family);
  font-weight: var(--heading-4-font-weight);
  color: #1b963a;
  font-size: var(--heading-4-font-size);
  letter-spacing: var(--heading-4-letter-spacing);
  line-height: var(--heading-4-line-height);
  white-space: nowrap;
  font-style: var(--heading-4-font-style);
}

.screen .buttons {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.screen .title {
  position: relative;
  width: fit-content;
  font-family: var(--h5-medium-font-family);
  font-weight: var(--h5-medium-font-weight);
  color: #000000d9;
  font-size: var(--h5-medium-font-size);
  letter-spacing: var(--h5-medium-letter-spacing);
  line-height: var(--h5-medium-line-height);
  white-space: nowrap;
  font-style: var(--h5-medium-font-style);
}

.screen .button {
  justify-content: center;
  gap: 10px;
  padding: 5px;
  background-color: var(--neutral-1);
  border-radius: var(--collection-1-radius4);
  border: 1px solid;
  border-color: var(--neutral-4);
  box-shadow: var(--drop-shadow-button-secondary);
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.screen .icon-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.screen .img {
  position: relative;
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.screen .frame-4 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  z-index: 0;
}

.screen .sider {
  width: 260px;
  z-index: 1;
  box-shadow: var(--drop-shadow-0-15);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background-color: var(--conditional-sider-background);
}

.screen .frame-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 6px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.screen .menu-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.screen .div-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.screen .inline-menu-item-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding: 4px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: var(--collection-1-radius6);
}

.screen .inner-wrapper {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 40px;
}

.screen .title-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  top: 8px;
}

.screen .img-wrapper {
  position: relative;
  width: 14px;
  height: 14px;
}

.screen .icon {
  position: absolute;
  width: 14px;
  height: 13px;
  top: 0;
  left: 0;
}

.screen .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #000000d9;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.screen .div-wrapper {
  gap: 10px;
  padding: 4px 16px;
  background-color: #edfbf0;
  border-radius: var(--collection-1-radius6);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.screen .icon-2 {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0;
  left: 1px;
}

.screen .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #1b963a;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.screen .menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--conditional-sider-background);
}

.screen .parent {
  justify-content: center;
  padding: 4px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.screen .title-wrapper-2 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 8px;
  left: 0;
}

.screen .icon-wrapper-2 {
  background-color: #ffffff;
  position: relative;
  width: 14px;
  height: 14px;
}

.screen .icon-3 {
  position: absolute;
  width: 14px;
  height: 11px;
  top: 1px;
  left: 0;
}

.screen .menu-icon-ant-menu {
  position: absolute;
  width: 10px;
  height: 9px;
  top: 16px;
  left: 206px;
}

.screen .union {
  position: absolute;
  width: 8px;
  height: 5px;
  top: 2px;
  left: 1px;
}

.screen .submenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  padding: 6px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.screen .item {
  gap: 8px;
  background-color: var(--conditional-sider-background);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.screen .parent-2 {
  justify-content: center;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.screen .element-level-title {
  position: absolute;
  width: 160px;
  top: 8px;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #000000d9;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.screen .union-wrapper {
  position: absolute;
  width: 10px;
  height: 9px;
  top: 16px;
  left: 170px;
}

.screen .inline-menu-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding: 9px 64px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: var(--collection-1-radius6);
}

.screen .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: var(--charactertitle-85);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.screen .element-level-title-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: var(--coolgray-90);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.screen .item-2 {
  justify-content: center;
  gap: 10px;
  padding: 0px 40px;
  border-radius: var(--collection-1-radius6);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.screen .text-wrapper-5 {
  position: absolute;
  width: 160px;
  top: 8px;
  left: 0;
  color: var(--coolgray-90);
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.screen .icon-4 {
  position: absolute;
  width: 12px;
  height: 11px;
  top: 1px;
  left: 1px;
}

.screen .inline-menu-item-top-2 {
  gap: 8px;
  padding: 4px 0px;
  background-color: var(--conditional-sider-background);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.screen .parent-3 {
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.screen .content-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 9px 24px 9px 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--hitbox);
  border-radius: var(--collection-1-radius6);
  overflow: hidden;
}

.screen .content {
  display: flex;
  flex: 1;
  flex-grow: 1;
  align-items: center;
  gap: 8px;
  position: relative;
}

.screen .element-nd-level-title {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  color: var(--charactertitle-85);
  white-space: nowrap;
  font-family: var(--h5-regular-font-family);
  font-weight: var(--h5-regular-font-weight);
  font-size: var(--h5-regular-font-size);
  letter-spacing: var(--h5-regular-letter-spacing);
  line-height: var(--h5-regular-line-height);
  font-style: var(--h5-regular-font-style);
}

.screen .sider-trigger {
  padding: 0px 16px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  box-shadow: inset 0px 1px 0px #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background-color: var(--conditional-sider-background);
}

.screen .menu-fold {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 0;
}

.screen .frame-6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 24px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  z-index: 0;
  background-color: #ffffff;
}

.screen .heading-left {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0px 0px 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.screen .wrapper {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  padding: 6px 0px;
  position: relative;
  flex: 0 0 auto;
}

.screen .title-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  color: var(--charactertitle-85);
  font-size: 32px;
  letter-spacing: 0;
  line-height: 46px;
  white-space: nowrap;
}

.screen .table-toolbar {
  align-items: center;
  justify-content: space-between;
  padding: 16px 8px;
  background-color: var(--hitbox);
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.screen .search-box {
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: var(--collection-1-radius8);
  overflow: hidden;
  border: 1px solid;
  border-color: var(--neutral-5);
}

.screen .wrapper-2 {
  display: flex;
  width: 224px;
  align-items: flex-start;
  gap: 10px;
  padding: 8px 12px;
  position: relative;
}

.screen .placeholder-wrapper {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.screen .placeholder {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: var(--characterdisabled-placeholder-25);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.screen .input-addon-icon {
  display: inline-flex;
  justify-content: center;
  gap: 8px;
  padding: 0px 13px;
  align-self: stretch;
  flex: 0 0 auto;
  margin-top: -1px;
  margin-bottom: -1px;
  align-items: center;
  position: relative;
  border: 1px solid;
  border-color: var(--neutral-5);
}

.screen .union-2 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: -1px;
  left: -1px;
}

.screen .right {
  display: inline-flex;
  height: 32px;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.screen .button-group {
  gap: 8px;
  margin-top: -4px;
  margin-bottom: -4px;
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.screen .button-2 {
  all: unset;
  box-sizing: border-box;
  justify-content: center;
  gap: 8px;
  padding: 8px 16px;
  background-color: #1b963a;
  border-radius: var(--collection-1-radius8);
  overflow: hidden;
  border: 1px solid;
  box-shadow: var(--drop-shadow-button-secondary);
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.screen .union-3 {
  position: absolute;
  width: 11px;
  height: 11px;
  top: 1px;
  left: 2px;
}

.screen .text-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--h5-regular-font-family);
  font-weight: var(--h5-regular-font-weight);
  color: #ffffff;
  font-size: var(--h5-regular-font-size);
  text-align: center;
  letter-spacing: var(--h5-regular-letter-spacing);
  line-height: var(--h5-regular-line-height);
  white-space: nowrap;
  font-style: var(--h5-regular-font-style);
}

.screen .setting-items {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.screen .icon-wrapper-px-wrapper {
  justify-content: center;
  gap: 12px;
  border-radius: var(--collection-1-radius6);
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.screen .union-4 {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 0;
  left: 1px;
}

.screen .union-5 {
  position: absolute;
  width: 10px;
  height: 12px;
  top: 1px;
  left: 2px;
}

.screen .frame-7 {
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.screen .components-table {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.screen .components-table-2 {
  height: 58px;
  margin-top: -1px;
  background-color: var(--neutral-2);
  mix-blend-mode: multiply;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-left: -1px;
  margin-right: -1px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--conditionaldivider);
}

.screen .checkbox-wrapper {
  align-items: flex-start;
  gap: 10px;
  padding: 20px 8px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.screen .checkbox-input {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 2px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.screen .bg {
  position: relative;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid;
  border-color: var(--neutral-5);
}

.screen .components-table-3 {
  display: inline-flex;
  align-items: center;
  flex: 1;
  flex-grow: 1;
  margin-left: -1px;
  margin-right: -1px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--conditionaldivider);
  flex-direction: column;
  position: relative;
}

.screen .components-table-4 {
  flex: 1;
  flex-grow: 1;
  margin-bottom: -1px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-left: -1px;
  margin-right: -1px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--conditionaldivider);
}

.screen .components-table-5 {
  display: flex;
  align-items: flex-start;
  flex: 1;
  flex-grow: 1;
  flex-direction: column;
  position: relative;
}

.screen .div-3 {
  align-items: center;
  gap: 4px;
  padding: 16px;
  margin-top: -1px;
  margin-left: -1px;
  margin-right: -1px;
  background-color: var(--neutral-2);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--conditionaldivider);
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.screen .divider {
  position: absolute;
  width: 1px;
  height: 22px;
  top: 17px;
  left: -1px;
  object-fit: cover;
}

.screen .title-3 {
  position: relative;
  flex: 1;
  margin-top: -0.5px;
  font-family: var(--h5-medium-font-family);
  font-weight: var(--h5-medium-font-weight);
  color: #000000d9;
  font-size: var(--h5-medium-font-size);
  letter-spacing: var(--h5-medium-letter-spacing);
  line-height: var(--h5-medium-line-height);
  font-style: var(--h5-medium-font-style);
}

.screen .sorter {
  position: relative;
  align-self: stretch;
  width: 11px;
}

.screen .overlap-group {
  position: relative;
  height: 19px;
  top: 3px;
}

.screen .caret-down {
  top: 8px;
  position: absolute;
  width: 11px;
  height: 11px;
  left: 0;
}

.screen .caret-up {
  top: 0;
  position: absolute;
  width: 11px;
  height: 11px;
  left: 0;
}

.screen .div-wrapper-2 {
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 16px;
  margin-left: -1px;
  margin-right: -1px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--conditionaldivider);
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.screen .text-wrapper-6 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 17px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.screen .text-3 {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #000000d9;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.screen .div-wrapper-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: -1px;
  margin-left: -1px;
  margin-right: -1px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--conditionaldivider);
}

.screen .wrapper-3 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 17px 0px;
  position: relative;
  flex: 0 0 auto;
}

.screen .image {
  display: flex;
  flex-direction: column;
  width: 22px;
  align-items: flex-start;
  position: relative;
  background-image: url(./img/image-10.png);
  background-size: cover;
  background-position: 50% 50%;
}

.screen .aspect-ratio-keeper {
  display: flex;
  height: 22px;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  transform: rotate(-45deg);
}

.screen .aspect-ratio-keeper-2 {
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
  margin-top: -1px;
  margin-bottom: -1px;
  transform: rotate(24.47deg);
}

.screen .components-table-6 {
  display: flex;
  width: 128px;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}

.screen .actions {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  padding: 17px 0px;
  position: relative;
  flex: 0 0 auto;
}

.screen .pagination {
  display: flex;
  justify-content: flex-end;
  padding: 16px 0px;
  align-self: stretch;
  width: 100%;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.screen .pagination-2 {
  display: inline-flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.screen .div-4 {
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  gap: 8px;
  position: relative;
}

.screen .total-text {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 8px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.screen .text-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-regular-font-family);
  font-weight: var(--body-regular-font-weight);
  color: var(--characterprimary-85);
  font-size: var(--body-regular-font-size);
  letter-spacing: var(--body-regular-letter-spacing);
  line-height: var(--body-regular-line-height);
  white-space: nowrap;
  font-style: var(--body-regular-font-style);
}

.screen .left-wrapper {
  align-items: center;
  justify-content: center;
  padding: 10px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: var(--collection-1-radius6);
  overflow: hidden;
  border: 1px solid;
  border-color: var(--neutral-5);
}

.screen .img-2 {
  position: relative;
  width: 12px;
  height: 12px;
}

.screen .components-2 {
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 1px 7px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: var(--collection-1-radius6);
  overflow: hidden;
  border: 1px solid;
  border-color: var(--neutral-5);
}

.screen .text-wrapper-7 {
  font-weight: var(--body-regular-font-weight);
  color: var(--charactertitle-85);
  position: relative;
  width: 18px;
  height: 30px;
  margin-top: -1px;
  font-family: var(--body-regular-font-family);
  font-size: var(--body-regular-font-size);
  text-align: center;
  letter-spacing: var(--body-regular-letter-spacing);
  line-height: var(--body-regular-line-height);
  font-style: var(--body-regular-font-style);
}

.screen .ellipsis {
  position: absolute;
  top: -1px;
  left: 7px;
  font-family: "Arial-Regular", Helvetica;
  font-weight: 400;
  color: var(--characterdisabled-placeholder-25);
  font-size: 14px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 32px;
  white-space: nowrap;
}

.screen .number-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 1px 7px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: var(--collection-1-radius6);
  overflow: hidden;
  border: 1px solid;
  border-color: #1b963a;
}

.screen .number {
  font-weight: var(--body-medium-font-weight);
  color: #1b963a;
  position: relative;
  width: 18px;
  height: 30px;
  margin-top: -1px;
  font-family: var(--body-medium-font-family);
  font-size: var(--body-medium-font-size);
  text-align: center;
  letter-spacing: var(--body-medium-letter-spacing);
  line-height: var(--body-medium-line-height);
  font-style: var(--body-medium-font-style);
}

.screen .right-wrapper {
  align-items: flex-start;
  padding: 10px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: var(--collection-1-radius6);
  overflow: hidden;
  border: 1px solid;
  border-color: var(--neutral-5);
}

.screen .size-changer {
  display: inline-flex;
  align-items: flex-start;
  padding: 4px 12px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: var(--collection-1-radius6);
  border: 1px solid;
  border-color: var(--neutral-5);
}

.screen .selection-item {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 1px 0px;
  position: relative;
  flex: 0 0 auto;
}

.screen .element-page {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-regular-font-family);
  font-weight: var(--body-regular-font-weight);
  color: var(--charactertitle-85);
  font-size: var(--body-regular-font-size);
  letter-spacing: var(--body-regular-letter-spacing);
  line-height: var(--body-regular-line-height);
  white-space: nowrap;
  font-style: var(--body-regular-font-style);
}

.screen .icon-5 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 0px 0px 6px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.screen .icon-6 {
  position: relative;
  width: 10.18px;
  height: 6.86px;
}

.screen .text-wrapper-8 {
  position: relative;
  width: fit-content;
  font-family: var(--body-regular-font-family);
  font-weight: var(--body-regular-font-weight);
  color: var(--charactertitle-85);
  font-size: var(--body-regular-font-size);
  text-align: right;
  letter-spacing: var(--body-regular-letter-spacing);
  line-height: var(--body-regular-line-height);
  white-space: nowrap;
  font-style: var(--body-regular-font-style);
}

.screen .input {
  display: flex;
  width: 50px;
  padding: 5px 12px;
  background-color: #ffffff;
  border-radius: var(--collection-1-radius6);
  overflow: hidden;
  align-items: center;
  position: relative;
  border: 1px solid;
  border-color: var(--neutral-5);
}

.screen .placeholder-2 {
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.screen .footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 8px 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  z-index: 0;
  background-color: var(--polar-green-9);
}

.screen .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: transparent;
}

.screen .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: var(--character-primaryinverse);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

#dataTable {
  width: 100%;
}
#dataTable th {
  padding: 20px 10px;
}
#dataTable tr {
  border-bottom: solid 1px #DDDDDD;
}
#dataTable td {
  padding: 20px 10px;
}
#dataTable thead tr {
  background-color: #FAFAFA;
  border-bottom: solid 1px #FF0000;
}